.twitter{
    color: #0056b3;
}

body{
     overflow-x: hidden;
     position: relative;
     z-index: 1;
     width: 100%;
}

body:before{
    width: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/denali.jpg");
    opacity: 0.6;
    background-size: cover;
}

.blog-header-logo{
    color: beige;
}

.btn-outline-secondary{
    border-bottom-color: beige;
    background-color: white;
}

.card-text{
    color:#343a40;
}

.btn-default{
    background-color: rgb(52, 58, 64);
    color: white;
}

li{
    list-style-type: none;
}

#categories{
    color:#343a40;
}

#foot{
    display : flex;
    display: -webkit-flex;
    margin-right:0;
    margin-left: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

img{
     height: 311.2px;
     width: 358.483px;
}

.back{
    padding-left: 1rem;
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}

#category{
    background-color: none;  
}

#chapter, #cad, #cindex, #cedit, #pindex, #pedit{
    padding: 4% 0 0 0;
}

#pedit{
    padding: 0 0 3% 0;
}